* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url('super_admin/assets/login-backdrop.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media (max-width: 768px) {
    .backdrop {
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
    }
}