/* Success Modal Styling */
.success-modal-unique,
.error-modal-unique {
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 340px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 5px 20px;
    display: none;
    /* Start hidden */
    z-index: 1000;
    flex-direction: row;
    /* Align content horizontally */
    align-items: center;
    /* Center items vertically */
}

/* Success modal specific styles */
.success-modal-unique {
    background-color: #acd2cc;
    /* Light green */
    color: #1c1c1c;
    /* Near black */
}

/* Error modal specific styles */
.error-modal-unique {
    background-color: #fcbca0;
    /* Light yellow */
    color: #1c1c1c;
    /* Near black */
}

.modal-content-success,
.modal-content-error {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Space between icon and text */
    font-size: 1rem;
}

/* Icon sizes */
.success-icon-unique,
.error-icon-unique {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}