.logo {
    width: 100%;
    pointer-events: auto;
    margin: 10px 0 0 0;
    /* top | right | bottom | left */
}


.sidebar {
        height: auto;

}

.sidebar a {
    text-decoration: none;
    color: inherit;
}

.sidebar .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 15px 5px 15px 5px;
    /* top | right | bottom | left */
}

.sidebar .item-last {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 15px 5px 250px 5px;
  /* top | right | bottom | left */
}
.sidebar .item-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 55px 5px 10px 5px;
    /* top | right | bottom | left */
}

.sidebar .item-last:not(.active):hover {
    background: #ddd;
    border-radius: 5px;
}

.sidebar .item-login:not(.active):hover {
    background: #ddd;
    border-radius: 5px;
}

.sidebar .item:not(.active):hover {
    background: #ddd;
    border-radius: 5px;
}

.sidebar .item.active {
    background: #ddd;
    border-right: 5px solid red;
    margin-left: -2px;
    margin-right: -2px;
}

.sidebar .item-last.active {
    background: #ddd;
    border-right: 5px solid red;
    margin-left: -2px;
    margin-right: -2px;
}

.custom-width {
    width: 105px !important;
    padding: 0 !important;
    /* Remove padding */
    background: #efefef;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.sidebar .item i {
    font-size: 1.3em;
    /* Adjust this value as needed */
}

.sidebar .item-last i {
    font-size: 1.3em;
    /* Adjust this value as needed */
}

.sidebar .item-login i {
    font-size: 1.3em;
    /* Adjust this value as needed */
}

.sidebar .item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px 0 10px 0;
    /* top | right | bottom | left */
    pointer-events: none;
}





body {
    scrollbar-width: thin;
    scrollbar-color: #ff9999 #333;
    /* Matte red: #ff9999, Matte black: #333 */
}

/* WebKit (Chrome, Safari) and Blink (Opera) */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #333;
}

body::-webkit-scrollbar-thumb {
    background-color: #ff9999;
    /* Matte red: #ff9999 */
    border-radius: 10px;
    border: 2px solid #333;
    /* Matte black: #333 */
}

/*
  Search Bar
  */
.search-container {
    position: relative;
    margin: 30px 10px 10px 10px;
}

input[type="text"] {
    padding: 10px 30px 10px 10px;
    /* Adjust padding to accommodate the icon */
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="%23676767" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"/><line x1="21" y1="21" x2="16.65" y2="16.65"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-color: #ddd;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
}

li {
    padding: 10px;
    cursor: pointer;
}

li:hover {
    background-color: #f0f0f0;
}

input[type="text"]:focus {
    background-color: white;
}

/* End of Search Bar */

.notification-container {
    font-size: 30px;
    margin: 30px 0 0 35px;
    /* top | right | bottom | left */
}

.notification-container a {
    text-decoration: none;
    color: black;
}

.notification-container a:hover {
    color: #C23415;
}

@media (max-width: 1800px) {
  .sidebar .item-last {
    margin: 15px 5px 280px 5px;
  }

  .sidebar .item-login {
    margin: -40px 5px 0 5px;
  }
}

@media (max-width: 1700px) {
  .sidebar .item-last {
    margin: 15px 5px 200px 5px;
    font-size: 0.99em;
  }

  .sidebar .item i {
    font-size: 0.99em;
  }

  .sidebar .item-last i {
    font-size: 0.99em;
  }

  .sidebar .item-login {
    margin: -40px 5px 0 5px;
  }
}
.notification-container a[disabled] {
    /* Define styles for the disabled state */
    color: gray;
    /* Adjust the color to your preference */
    cursor: not-allowed;
    pointer-events: none;
    /* Optionally, you can add additional styles for the disabled state */
    /* For example, you might want to change the background color or opacity */
    opacity: 0.7;
}

/* Add any other styles you need for the notification button in its normal state */
.notification-container a {
    /* Define styles for the normal state */
    color: #333;
    /* Adjust the color to your preference */
    text-decoration: none;
    /* Add any other styles you need for the normal state */
}

/* Add hover styles if desired */
.notification-container a:hover {
    /* Define styles for the hover state */
    text-decoration: underline;
    /* Add any other styles you need for the hover state */
}
.wrapper{
width:100%;
height:97vh;
background: #FFF;
box-shadow: 2px 2px 4px 5px rgba(0, 0, 0, 0.10);
padding:35px 40px 20px 40px;
font-family: 'Outfit';
font-weight: bold;
border-radius:15px;
}

.wrap{
flex-grow: 1;
margin:0;
padding:0;
}
.btn-primary{
  background-color: #C23415;
  border-color: #C23415;
  color: white;
}

.btn-primary:hover{
  background-color: #a12c12;
  border-color: #a12c12;
  color: white;
}

.upper-buttons{
  position:absolute;
  right: 70px;
  top: 40px;
  display: flex;
  gap:10px;
}

.cart-summary{
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
    padding: 30px 30px; 
    font-family: "Outfit";
}

.cart {

  scrollbar-color: #333;
  /* Matte red: #ff9999, Matte black: #333 */
}

/* WebKit (Chrome, Safari) and Blink (Opera) */
.cart::-webkit-scrollbar {
  width: 7px;
}

.cart::-webkit-scrollbar-track {
}

.cart::-webkit-scrollbar-thumb {
  background-color: gray;
  /* Matte red: #ff9999 */
  border-radius: 10px;
  /* Matte black: #333 */
}

.image {
  width: 100%;
}

.caption {
  font-weight: 500;
  color: #333;
  font-size:1.2rem;
}

textarea {
  /* Adjust padding to accommodate the icon */
  box-sizing: border-box;
  border: none;
  outline: none;
  font-weight: 600;
  background-repeat: no-repeat;
  resize: none;
  /* Add this line */
  width: 100%;
  /* Add this line */
  background: none;
  height: auto;
}

.price p {
  font-size: 1.2rem;
  margin-left: -5px;

}

.quantity1 {
  margin-top: -5px;
  margin-left: -8px;
}

.box {
  position: relative;
}

.deliveryInfo{
    padding: 30px 30px; 
    text-decoration:none;
    font-weight: 500;
    font-size:1.2rem;
}
.edit{
 justify-content: center;
}
input[type="radio"]:checked {
  background-color: #C23415; /* Change this to your desired color */
  border-color: #C23415; /* Change this to your desired color */
  color: white; /* Change this to your desired text color */
}



    /* Optional: You can add additional styling for your table */
    th {
      border-bottom: 1px solid black; /* Add a border to header cells and data cells if needed */
    
    }
    .total{
    border-bottom:1px solid white;
    
    }
    .subtotal{
      border-bottom:1px solid white;
    }
    .lasttotal{
      border-bottom:2px solid black;
    }


    .custom-warning {
        background-color: #ff950b; /* Replace with your desired color code */
        color: black; /* Replace with your desired text color */
    }

    .custom1-warning {
        background-color: #027fb9; /* Replace with your desired color code */
        color: black; /* Replace with your desired text color */
    }
.edit2{
 position:absolute;
 right:10px;
 top:10px;
}
.mpopup1 {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 90px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 250px;
}
.modal-content1 {
  position: relative;
  background-color: #fafafa;
  margin: auto;
  width: 400px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 0.3rem;
  font-family: "Biryani", sans-serif;
  border-radius: 20px;
  text-align: center;
}
.modal-header1 {
  background-color: #E29040;
  color: #333;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  padding: 20px 20px 5px 20px;
  font-family: "Outfit";

}

.modal-body1 {
  padding: 20px 25px 5px 25px;
  background-color: #fafafa;
}

.modal-footer1 {
  padding: 20px 10px 20px 10px;
  background-color: #fafafa;
  color: #333;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  text-align: right;
  display: flex;
  justify-content: space-between;
  font-family: "Biryani", sans-serif;
  align-items: center;
}
.close {
  color: #888;
  float: right;
  font-size: 25px;
  font-weight: bold;
  outline: none;
  border: 0;
  pointer-events: visible;
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.confirmation {
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  background: #E29040;
  font-size: 15px;
  color: black;
  width: 150px;
  height: 45px;
  outline: none;
  text-decoration: none;
  font-family: "Biryani", sans-serif;
  margin-left: 30px;
  border:none;
}
.cancellation {
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  background: #E29040;
  font-size: 15px;
  color: black;
  width: 150px;
  height: 45px;
  outline: none;
  text-decoration: none;
  font-family: "Biryani", sans-serif;
  margin-right: 30px;
    border:none;
}

.confirmation:hover {
  background: #CB4019;

}

.cancellation:hover {
  background: #CB4019;
}
.error {

	color: #a94442; 
	background: #f2dede; 
	width: 15%; 
	margin: 0px auto; 
	padding: 5px; 
	border-radius: 25px; 
	text-align: left;
  text-align: center;
  position:absolute;
  font-family: "Outfit";
  bottom:50px;
  left:100px;
  right:300px;
  animation:flyIn 0.5s ease-in-out;
    
}

.success {
	color: #3c763d; 
	width: 20%; 
	margin: 0px auto; 
	padding: 5px; 
	border: 1px solid #3c763d; 
	background: #dff0d8; 
	border-radius: 25px; 
	text-align: left;
  text-align: center;
  position:absolute;
  font-family: "Outfit";
  bottom:100px;
  left:350px;
  right:300px;
  animation:flyIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes flyIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
#orderLink.disabled {
  pointer-events: none;
  opacity: 0.5;

}
.notification-count {
  background-color: #c23415;
  color: white;
  border-radius: 50%;
  padding: 1px 5px;
  font-size: 10px;
  position: absolute;
  top: 450px;
  left:55px;
  font-weight: bold;
}

.test{
  background-color: #C23415;
  border-color: #C23415;
  color: white;
}

.test:hover{
  background-color: #a12c12;
  border-color: #a12c12;
  color: white;
}