body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.row {
    width: 100%;
    padding: 0;
    margin: 0;
}

.full-screen {
    width: 100%;
    height: 94vh;
    object-fit: cover;
    position: relative;
}

.backdrop::after {
    content: "";
    position: absolute;
    top: 6%;
    left: 0;
    width: 100%;
    height: 94%;
    background: rgba(0, 0, 0, 0.5);
    /* This will overlay a semi-transparent black layer */
}

.no-padding {
    padding: 0;
}

.back-btn {
    position: absolute;
    top: 1.5%;
    left: 0.5%;
    font-size: 20px;
    border: none;
    background-color: white;
}

.back-btn:hover {
    color: #C23415;
}

.row a {
    text-decoration: none;
    color: black;
}



.topnav {
    width: 100%;
    height: 100%;
}

.logo {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 6%;
    width: auto;
    pointer-events: auto;
}

.wrapper {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 88%;
    width: 100%;
    background-image: url('../../../assets/img/login-backdrop.png');
    /* Replace with your image path */
    background-size: cover;
    border-radius: 15px;
}

.login-wrapper {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    height: 65%;
    width: 80%;
    background: #2c2c2c;
    border-radius: 15px;

    color: white;
    padding: 30px 70px 30px 70px;
    /* top | right | bottom | left */
}

.title {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-weight: 800;
    letter-spacing: 1px;
}

.user-box {
    position: relative;
    margin-bottom: 30px;
}

.user-box input {
    width: 100%;
    padding: 10px 15px;
    /* Adjust padding for input */
    border: 1px solid #aaa;
    /* Add border */
    background-color: #fff;
    /* Set background color to white */
    outline: none;
    font-size: 17px;
    border-radius: 5px;
    /* Add border radius for a softer look */
    transition: all 0.3s ease;
    /* Add transition for animation */
    height: 6vh;
    border-radius: 5px;
}

.user-box label {
    font-size: 1.4em;
}

.user-box a {
    text-align: right;
    display: block;
    margin: 5px 0 0 0;
    text-decoration: none;
    color: white;
}

.user-box a:hover {
    color: #C23415;
}

.login-btn {
    text-decoration: none;
    height: 6vh;
    padding: 10px;
    font-size: 25px;
    color: white;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #C23415;
    margin: 0 0 30px 0;
}

.login-btn:hover {
    background-color: #a12c12;
}


.additional-links {
    display: block;
    text-align: center;
}

.additional-links a {
    text-decoration: none;
    color: #C23415;
    font-weight: bold;
    margin: 0 0 0 10px;
    /* top | right | bottom | left */
}

.additional-links a:hover {
    color: #a12c12;
}

.error {

	color: #d32903; 
	width: 70%; 
	margin: 0px auto; 
	padding: 5px; 
	border-radius: 25px; 
	text-align: left;
  text-align: center;
  position:absolute;
  font-family: "Outfit";
  bottom:100px;
  left:90px;
  right:100px;
  animation:flyIn 0.5s ease-in-out;
    
}

.success {
	color: #3c763d; 
	width: 20%; 
	margin: 0px auto; 
	padding: 5px; 
	border: 1px solid #3c763d; 
	background: #dff0d8; 
	border-radius: 25px; 
	text-align: left;
  text-align: center;
  position:absolute;
  font-family: "Outfit";
  bottom:250px;
  left:100px;
  right:100px;
  animation:flyIn 0.5s ease-in-out;
}
input[type="text1"] {
    padding: 10px 30px 10px 10px;
    /* Adjust padding to accommodate the icon */
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    background-repeat: no-repeat;
    background-position: right 10px center;
}
.edit{
display: flex;
gap:10px;
}
.btn-primary{
  background-color: #C23415;
  border-color: #C23415;
  color: white;
}

.btn-primary:hover{
  background-color: #a12c12;
  border-color: #a12c12;
  color: white;
}